<!DOCTYPE html>
<html>
  <head>
    <title>about</title>
  </head>
  <body>
    <h1>About Page</h1>
    <a href="/about">About</a> | <a href="/contact">Contact</a> |
    <a href="/">Home</a>
  </body>
</html>
